  <div class="main-content">
    <div *ngIf="activeForm === 'dashboard'">
      <div class="header">
        <h2>Dashboard</h2>
        <span class="last-updated" *ngIf="lastUpdatedTime">
          Last updated: Today, {{ lastUpdatedTime | date: 'shortTime' }}
        </span>
      </div>

      <div class="balance-card">
        <div class="balance-info">
          <div class="current-balance-label">Current Balance</div>
          <div class="current-balance">₹{{ currentBalance }}</div>
        </div>
        <div class="card-icon">
          <i class="icon-card"></i>
        </div>
      </div>

      <div class="transaction-history">
        <div class="history-header">
          <h3>Transaction History</h3>
          <button class="delete-btn" (click)="deltran()">delete all transaction</button>
        </div>
        <div class="transaction-scroll">
          <div class="transaction-item" *ngFor="let txn of transactions">
            <div class="transaction-details">
              <i class="icon-transfer"></i>
              <div>
                <div>
                  <ng-container [ngSwitch]="txn.transactionType.toLowerCase()">
                    <span *ngSwitchCase="'credit'"
                      >Received from {{ txn.receiverName }}</span
                    >
                    <span *ngSwitchCase="'debit'"
                      >Transfer to {{ txn.receiverName }}</span
                    >
                    <span *ngSwitchCase="'wallet'">Added money to wallet</span>
                    <span *ngSwitchDefault>Transaction</span>
                  </ng-container>
                </div>
                <div class="date">{{ txn.transactionDate | date:'short' }}</div>
              </div>
            </div>
            <div class="transaction-status">
              <span
                class="amount"
                [ngClass]="{'negative': txn.transactionType === 'Debit', 'positive': txn.transactionType !== 'Debit'}"
              >
                {{ txn.transactionType === 'Debit' ? '-' : '+' }}₹{{
                txn.transferAmount }}
              </span>
              <button class="delete-btn-single" (click)="delbyid(txn.transactionId)">delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div>
  <router-outlet></router-outlet>
</div>

<div class="toast" *ngIf="toastMessage" [ngClass]="toastType">
  {{ toastMessage }}
</div>
